* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #fffff;
}

.content {
	width: 40vw;
	height: 100vh;
	/* margin: 0 auto; */
	background-color: #fff;
	font-size: 1.45rem;
	text-align: Center;
}

@media screen and (min-width: 992px) {
	.content {
		max-width: 50%;
		height: 300%;
		margin: 1rem auto;
		border-radius: 1rem;
	}
}
